# PRE: copia este archivo como .env dentro del checkout de PRE.
PU_COMPOSE_PROJECT_NAME=pokemon-universe-pre
PU_DEPLOY_ENVIRONMENT=pre
PU_HOST_PORT=8081
PU_IMAGE_TAG=pre
PU_SERVER_IMAGE=ghcr.io/matadoreru/pokemon-universe-server
PU_WEB_IMAGE=ghcr.io/matadoreru/pokemon-universe-web

PU_POSTGRES_DB=pokemon_universe
PU_POSTGRES_USER=pokemon
PU_POSTGRES_VOLUME=pokemon_universe_pre_postgres_data
PU_AVATAR_VOLUME=pokemon_universe_pre_avatar_data
PU_POSTGRES_PASSWORD=GENERA_UN_VALOR_CON_OPENSSL_RAND_HEX_32
PU_JWT_SECRET=GENERA_OTRO_VALOR_CON_OPENSSL_RAND_HEX_32

PU_PUBLIC_ORIGIN=https://pre.pokemon.example.com
PU_SECURE_COOKIE=true
PU_ROOM_MAX_PLAYERS=8
PU_RECONNECT_GRACE_MS=30000
PU_WATCHTOWER_ENABLE=false
